.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    color: white
}

.main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 80vh;
}

.main-text {
    font-family: 'FjallaOne', sans-serif;
    font-size: 55px !important;
    font-weight: bold;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.main-button {
    border-radius: 28px;
    font-family: 'FjallaOne', sans-serif;
    font-weight: 700;
    height: 56px;
}
