.main-container {
    display: flex;
    flex-direction: row;
}

.main-left {
    width: 45vw;
    color: white;
}

.main-right {
    width: 45vw;
}

.main-text {
    font-family: "Fjalla One", arial, sans-serif;
    font-size: 55px !important;
    font-weight: 400;
}
