.scheduleContainer {
    height: 100%;
    font-family: 'FjallaOne', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scheduleGrid {
    display: grid;
    grid-template-rows: minmax(5vw, 10vw) repeat(25, 1fr);
    grid-template-columns: minmax(5vh, 6vh)repeat(7, 1fr);
    color: white;
    margin: 5% 5%;
}

.slot {
    border-style: solid;
    background-color: red;
    border-radius: 3px;
    border-color: red;
    height: 100%;
}
