body {
  margin: 0;
  background-image: linear-gradient(to right,black, #181e23);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "FjallaOne";
  src: local("FjallaOne"),
  url("./fonts/FjallaOne-Regular.ttf") format("truetype");
}
